<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amressam.movies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="                   Movies"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MovieDetialsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MoviesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.amressam.movies.database.AppProvider"
            android:authorities="com.amressam.movies.provider"
            android:exported="false" />

        <service
            android:name=".sync.MoviesSyncIntentService"
            android:exported="false" />
        <service
            android:name=".sync.CastSyncIntentService"
            android:exported="false" />
        <service
            android:name=".sync.TrailersSyncIntentService"
            android:exported="false" />
        <service
            android:name=".sync.ReviewsSyncIntentService"
            android:exported="false" />
        <service
            android:name=".sync.MoviesFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.CastFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.TrailersFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.ReviewsFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>

</manifest>